/*
Theme Name: eStore
Theme URI: http://www.elegantthemes.com/gallery/
Version: 4.4
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 105%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('fonts/League_Gothic-webfont.eot');
	src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/League_Gothic-webfont.woff') format('woff'),
		 url('fonts/League_Gothic-webfont.ttf') format('truetype'),
		 url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { background: #f3f3f3; text-align: center; line-height: 18px; font-family: Georgia, serif; font-size: 12px; color: #7c7b7a; }


#featured span.tag, h3#deals-title, #content span.tag, h4.widgettitle, ul#secondary-menu li a strong, span.price-single, .addto-cart, .wp-pagenavi span.current, .wp-pagenavi a.page, .single-product .summary .price, ul#secondary-menu > li.logout > a { font-family: 'LeagueGothicRegular', Arial, sans-serif; }

#featured span.tag { text-shadow: 1px 1px 0px rgba(0,0,0,0.4); }
#content span.tag { text-shadow: 1px 1px 0px #131212; }
h4.widgettitle { text-shadow: 1px 1px 0px #fff; }
ul#secondary-menu li a strong { text-shadow: 1px 1px 0px #1d1d1d; }
span.price-single { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
.addto-cart { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }

.description h2.title, .item-content h4, .product h3, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .related-items span, .page-title, .product_title { font-family: 'Raleway', Arial, sans-serif; font-weight: 300; }


a { text-decoration: none; color: #5f5f5f; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; padding-bottom: 5px; color: #303030; letter-spacing: -1px; line-height: 1em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #303030; }
h1 { font-size: 35px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

.container { text-align: left; width: 962px; margin: 0 auto; position: relative; }

#header { padding: 25px 0px 0px; background: #ffffff url(images/header-bottom-bg.png) repeat-x bottom left; height: 101px; }
	img#logo { float: left; margin: 0px 23px 0px 0px; }
	#search-bar { float: right; background: url(images/search-bg.png) no-repeat; width: 162px; height: 31px; margin-top: 21px; margin-right:6px; }
		#search-bar #searchinput { background: none; border: none; float: left; margin: 7px 6px 0 0px; width: 112px; padding-left: 10px; font-size: 11px; font-family: Georgia, serif; color: #494949; }
		#search-bar #searchsubmit { margin-top: 1px; }

	#menu { position: absolute; bottom: -103px; left: 0px; background: url(images/secondary-menu.png) no-repeat; width: 961px; height: 98px; z-index: 10; }

	h3#deals-title { font-size: 24px; text-transform: uppercase; color: #5f5e5e; padding-left: 25px; background: url(images/deals-bg.png) no-repeat bottom left; height: 47px; position: absolute; top: -15px; left: 27px; }
		h3#deals-title span { background: url(images/deals-bg.png) no-repeat top right; padding: 14px 23px 17px 7px; display: block; }

#content { padding-bottom:20px; }
/*body#home #content { background: #f3f3f3 url(images/content-bg.png) repeat-x; }*/
body#home #content { background: rgb(68, 188, 252) url(images/content-bg.png) repeat-x; }
	body#home #content .container { padding: 52px 0px 0px; }
	#content .container { padding: 60px 0px 0px; }
		#scroller { position: relative; float: left; margin-bottom: 40px; }
			#scroller a#left-arrow, #scroller a#right-arrow { display:block; width: 23px; height:35px; text-indent:-9999px; margin-top: 79px; float: left; }
			#scroller a#left-arrow { background: url(images/left-arrow.png) no-repeat; margin-left:0px; margin-right:1px; }
			#scroller a#right-arrow { background: url(images/right-arrow.png) no-repeat; margin-left: 14px; }

			#scroller #items { float: left; width: 906px; }

			#scroller .block { padding-left: 17px; height: 205px; }
				#items .item { background: url(images/item-bottom-bg.png) no-repeat bottom left; padding-bottom: 28px; float: left; width: 208px; position: relative; margin-right: 17px; }
					#items .item-top { background: url(images/item-top.png) no-repeat; height: 13px; }
					#items .item-content { background: url(images/item-bg.png) repeat-y; min-height: 100px; padding: 11px 20px 2px; }
						.item-content h4 { font-size: 16px; padding-bottom: 0px; }
							.item-content h4 a:hover { text-decoration: none; }
					#items .item a.more { position: absolute; bottom: -7px; left: 70px; }

						.product span.tag, #items .item-content span.tag { color: #ede7c2; font-size: 22px; position: absolute; left: -15px; display: block; background: url(images/scroller-item-tag.png) no-repeat bottom right; padding-right: 11px; text-shadow: 1px 1px 1px #131212; }
						#items .item-content span.tag { top: 18px; }
							.product span.tag > span, #items .item-content span.tag > span { display: block; background: url(images/scroller-item-tag.png) no-repeat; padding-left: 9px; height:36px; padding-top: 9px; }

		#main-area-bottom { height: 9px; background: url(images/content-bottom.png) no-repeat; }
		#main-area { background: url(images/content-top.png) no-repeat; padding-top: 7px; }
			#main-content { background: url(images/main-bg.png) repeat-y; padding: 0px 1px 15px 1px; }
				#left-column { float: left; width: 720px; margin-top:-8px; }

					#left-column .product { float: left; background: url(images/product-right.png) repeat-y top right; position: relative; }
						.product .product-content { padding: 24px 23px 19px 24px; width: 193px; background: url(images/product-bottom.png) repeat-x bottom left; }
							.product a.image { display: block; position: relative; }
								.product a.image:hover { text-decoration: none; }
								.product-content span.tag { bottom: 20px; }
								.rounded { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border:1px solid #ebebeb; display:inline-block; overflow:hidden; width: 193px; height: 130px; margin-bottom: 10px; }
							.product h3 { font-size: 24px; }
								.product h3 a:hover { text-decoration: none; }
							.product-content a.more { float: left; margin-left: 60px; }

							span.band { position: absolute; top: -10px; right: -11px; display: block; width: 101px; height: 101px; }
							span.et_onsale { background: url(images/band-onsale.png) no-repeat; }
							span.et_buygetone { background: url(images/band-buygetone.png) no-repeat; }
							span.et_outofstock { background: url(images/band-outofstock.png) no-repeat; }


						#left-column .last { background: none !important; }

	#breadcrumbs { padding: 10px 5px 31px 4px; font: italic 12px Georgia, serif; color: #4e4d4d; text-shadow: 1px 1px 1px #ffffff; }
		#breadcrumbs .sep { background:url("images/breadcrumbs_separator.png") no-repeat; display:inline-block; height:7px; margin:1px 1px 0 3px; width:4px; }
		#breadcrumbs a { color: #807f7f; }
		#breadcrumbs a:hover { text-decoration: none; color: #4e4d4d; }


	.post { padding: 38px 50px 34px 42px; position: relative; }

		.post ul { list-style-type: disc; margin: 10px 0px 10px 20px; }
			.post ol { list-style-type: decimal; list-style-position: inside; margin: 10px 0px 10px 2px; }
				.post ul li ul, .post ul li ol { margin: 2px 0px 2px 20px; }
				.post ol li ul, .post ol li ol  { margin: 2px 0px 2px 35px; }

		#product-slider { float: left; width: 298px; margin: 0px 25px 10px 0px; }
			#product-slides { margin: 0px 0px 7px; }
				.item-slide	{ position: relative; }
					.item-slide .overlay { background: url(images/big-overlay.png) no-repeat; display:block; height:226px; width:298px; position: absolute; top: 0px; left: 0px; }

				#product-thumbs a { display: block; position: relative; float: left; margin-right: 6px; }
					#product-thumbs a .overlay { background: url(images/overlay-sprite.png) no-repeat; display: block; width: 69px; height: 69px; position: absolute; top: 0px; left: 0px; }
					#product-thumbs a.active .overlay, #product-thumbs a:hover .overlay { background: url(images/overlay-sprite.png) bottom left; }

		.product-info { float:right; width:304px; }
			p.post-meta { color: #990f0f; font: italic 14px/24px Georgia,serif; padding-bottom: 20px; }
				p.post-meta a { color: #930000; font-weight: bold; }
			span.price-single { background: url(images/price-single.png) no-repeat top right; padding-right: 13px; display: block; float: left; color: #ffffff; font-size: 30px; text-shadow:1px 1px 1px rgba(0,0,0,0.4); margin: 0px 16px 0px 0px; }
				span.price-single span { display: block; padding:11px 0 6px 12px; background: url(images/price-single.png) no-repeat top left; }
				a.addto-cart span, span.price-single span { height: 29px; line-height: 25px; }
			a.addto-cart { float: left; background: url(images/addto-cart.png) no-repeat top right; padding-right: 13px; display: block; color: #ffffff !important; font-size: 30px; text-shadow:1px 1px 1px rgba(0,0,0,0.4); text-transform: uppercase; }
				a.addto-cart span { display: block; padding:11px 0 6px 48px; background: url(images/addto-cart.png) no-repeat top left; }
			a.addto-cart:hover { text-decoration: none; }
			div.description { font-style: italic; font-size: 14px; margin: 15px 0px 0px; }

		div.hr { background: url(images/hr-bg.png) no-repeat; height: 1px; width: 720px; margin: 28px 0px 28px -42px; }
		.post h2 { font-size: 28px; margin-bottom: 8px; }
		.post a { color: #9c260e; }

		.related { padding: 35px 0px 0px; }
			.related-items { background: url(images/hr-bg.png) no-repeat; margin: 0px -50px 0px -42px !important; list-style-type: none !important; }
				.related-items li { float: left; width: 360px; background: url(images/hr-bg.png) no-repeat bottom left; }
					.related-items a { display: block; background: url(images/relatedbg-right.png) repeat-y top right; padding: 10px 5px 9px 52px; min-height: 52px; }
					.related-items li.second a { background: none; padding-left: 12px; }
					.related-items a:hover { text-decoration: none; }
						.related-items img { padding: 3px; border: 1px solid #e2e2e2; background: #ffffff; float: left; margin-right: 17px; }
						.related-items span { color: #303030; font-size: 18px; float: left; width: 225px; padding-top:7px; }
		div.dnone { display: none; float: left; }

			#product-slides { height:226px !important; position:relative !important; width:298px !important; }

	#footer { margin-top: 24px; }
		#footer p#copyright { text-align: right; color: #807f7f; text-shadow: 1px 1px 1px #ffffff; font-size: 11px; padding-right: 10px; }
			#footer p#copyright a { font-weight: bold; font-style: italic; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

ul#top-menu { float: left; padding: 25px 0px 0px; font-family: Arial, Verdana, sans-serif; }
	ul#top-menu li { padding-right: 8px; margin-right:5px; }
		ul#top-menu li a { display: block; color: #404040; padding: 3px 0px 4px 8px; }
		ul#top-menu li a:hover { text-decoration: none; }

	ul#top-menu > li.current_page_item, ul#top-menu > li:hover { background: url(images/top-link-bg.png) no-repeat top right; padding-right: 8px; }
		ul#top-menu > li.current_page_item > a, ul#top-menu > li:hover > a { display: block; color: #404040; background: url(images/top-link-bg.png) no-repeat; }

	ul#top-menu ul { z-index: 9999; background: url(images/top-dropdown.png) no-repeat bottom left; width: 158px; padding: 0px 19px 17px; }
		ul#top-menu ul li.top { background: none !important; padding: 0px !important; margin-bottom: -8px; }
			ul#top-menu span.menu-top { background:url(images/top-dropdown-topbg.png) no-repeat; display:block; height:12px; left:-19px; position:absolute; top:-12px; width:196px; }
		ul#top-menu ul li { background: url(images/top-separator.png) no-repeat bottom left; padding-bottom: 2px; }
			ul#top-menu ul li a { width: 158px; background: url(images/top-dropdown-bullet.png) no-repeat 1px 12px; padding: 5px 2px 5px 15px; }
			ul#top-menu ul li a:hover { color: #000000; }

			ul#top-menu ul li.second > a { padding-top: 0px; background-position: 1px 7px; }

			ul#top-menu li:hover ul, ul#top-menu li.sfHover ul { left:0px; top:36px; }
			ul#top-menu li li:hover ul, ul#top-menu li li.sfHover ul { left:173px; top:0px; }

ul#secondary-menu { padding: 20px 0px 0px 23px; }
	ul#secondary-menu li { padding-right: 20px; }
		ul#secondary-menu li.current_page_item > a > strong, , ul#secondary-menu li.current-menu-item > a > strong { color:#ede7c2; }
		ul#secondary-menu li a strong, ul#secondary-menu > li.logout > a { color:#ffffff; display:block; font-size:20px; font-weight:normal; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); text-transform:uppercase; margin-bottom:-3px; }
			ul#secondary-menu li a span { color: #828282; text-transform: lowercase; font-family: Century Gothic, sans-serif; text-shadow: 1px 1px 1px #2d2d2d; }
			ul#secondary-menu li a:hover { text-decoration: none; }
				ul#secondary-menu li a:hover strong { color: #ede7c2; }
				ul#secondary-menu li a:hover span, ul#secondary-menu li > a > span { color: #7b786a; }

		/*ul#secondary-menu ul { width: 171px; background: url(images/secondary-dropdown.png) repeat-y; padding: 3px 0px 15px; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow:3px 6px 7px 1px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.5); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-right-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border: 1px solid #232323; border-top: none; }*/
		ul#secondary-menu ul { width: 171px; background: rgb(68, 188, 252) repeat-y; padding: 3px 0px 15px; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow:3px 6px 7px 1px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.5); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-right-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border: 1px solid #232323; border-top: none; }
		ul#secondary-menu li:hover ul, ul#secondary-menu li.sfHover ul { left:0px; top:51px; }
			ul#secondary-menu li:hover ul ul, ul#secondary-menu li.sfHover ul ul { left:173px; top:-3px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border: 1px solid #232323; }

			ul#secondary-menu ul li { background: url(images/secondary-dropdown-bottom.png) repeat-x bottom left; padding: 0px 0px 2px 2px; }
				ul#secondary-menu ul li a { display: block; padding: 9px 3px 9px 28px; width: 139px; color: #ffffff; font-family: Century Gothic, Arial, sans-serif; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); background: url(images/secondary-dropdown-bullet.png) no-repeat 15px 17px; }
				ul#secondary-menu ul li a:hover { background-color: #383838; color: #ede7c2; }


/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/
#featured { background-color: #969384; height: 501px; position: relative; }
#featured { background-color: rgb(60, 188, 252); height: 501px; position: relative; }
	#featured #top-shadow { position: absolute; top: 0px; left: 0px; background: url(images/top-shadow.png) repeat-x; height: 34px; width: 100%; }
	#featured #bottom-shadow { position: absolute; bottom: 0px; left: 0px; background: url(images/bottom-shadow.png) repeat-x; height: 31px; width: 100%; }

	.slide { position: relative; width: 100%; height: 501px; }
		#featured .container { height: 501px; }
			.slide .description { background: url(images/description-bg.png) no-repeat; width: 330px; height: 165px; position: absolute; bottom: -5px; right: 0px; z-index: 15; padding: 45px 60px 0px 88px; }
				.slide .description h2.title { font-size: 36px; color: #969595; text-transform: lowercase; }
					.slide .description h2.title a { color: #969595; }
					.slide .description h2.title a:hover { text-decoration: none; }
				a.more { float: right; display: block; background: url(images/more.png) no-repeat bottom right; padding-right: 10px; font-family: Arial, Verdana, sans-serif; color: #4e4e4d; font-size: 11px; text-shadow: 1px 1px 1px #ffffff; }
				a.more:hover { color: #313130; text-decoration: none; }
					a.more span { display: block; background: url(images/more.png) no-repeat top left; padding-left: 9px; height: 28px; line-height: 25px; }

			#featured .description { font-style: normal !important; }
				.description .product { position: relative; }
					.description .product span.tag { position: absolute; top: -5px; left: -94px; display: block; background: url(images/featured-description-tag.png) no-repeat bottom right; padding-right: 11px; color: #ffffff; font-size: 30px; text-shadow:1px 1px 1px #5e1303; }
						.description .product span.tag > span { display: block; background: url(images/featured-description-tag.png) no-repeat; padding-left: 10px; height:50px; padding-top: 10px; line-height: 27px; }

	#controllers { position: absolute; top: 0px; left: 0px; width:100%; }
		#switcher { position: absolute; top: 30px; right: 5px; }
			#switcher .item { background: url(images/feat-item-alternate.png) no-repeat; width: 121px; height: 126px; float: left; margin-right: 35px; padding: 114px 0px 0px 8px; margin-top: -18px; }
			#switcher .active { margin-top: 6px; }
				#switcher a.product { position: relative; display: block; }
					#switcher a.product span.tag { color: #ffffff; font-size: 22px; position: absolute; top: 5px; left: -23px; display: block; background: url(images/featured-small-tag.png) no-repeat bottom right; padding-right: 11px; }
						#switcher a.product span.tag > span { display: block; background: url(images/featured-small-tag.png) no-repeat; padding-left: 9px; height:36px; padding-top: 9px; }
				#switcher a.product:hover { text-decoration: none; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

#sidebar { float: left; width: 238px; padding-left: 2px; margin-top:-6px; }
	#sidebar a { color: #807f7f; text-shadow: 1px 1px 1px #ffffff; }
		#sidebar a:hover { color: #505050; text-decoration: none; }

	#sidebar .widget { background: url(images/widget-bottom.png) repeat-x bottom left; padding: 0px 0px 2px; }
		#sidebar h4.widgettitle { color: #5f5e5e; font-size: 30px; text-transform: lowercase; letter-spacing: 0.5px; background: url(images/widget-title.png) no-repeat bottom left; padding: 14px 5px 11px 25px; text-shadow: 1px 1px 0px #ffffff; }

		#sidebar .widget-content { padding: 10px 10px 10px 25px; }
			#sidebar .widget ul ul { margin:0 0 0 15px; }
			#sidebar .widget ul li { background:url("images/list-icon.png") no-repeat scroll 0 13px transparent; padding:7px 0 7px 13px; }
			#sidebar .widget ul li ul { margin:0 0 -12px; padding:5px 0 0 7px; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:35px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:203px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 202px; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; padding: 35px 30px 20px 0px; text-align:right; }
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited { padding: 5px 7px !important; margin: 2px; text-decoration: none; font-weight: normal !important; font-size: 20px !important; color: #5f5e5e !important; border: none !important; background: url(images/pagenavi-bg.png) no-repeat; padding:5px 15px 5px 13px !important; }
.wp-pagenavi span.current { font-size: 20px !important; color: #5f5e5e !important; color: #9f260d !important; }
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding:5px 15px 5px 13px !important; margin: 2px; border: none !important; background: url(images/pagenavi-bg.png) no-repeat; }
.wp-pagenavi span.pages { padding: 5px 7px 5px !important; margin: 2px !important ; color: #000000; color: #413f36; border: none !important; }

a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.js #feat-content, .js div#from-blog div.entries {display: none;}

.foursixeight { margin: 0px 0px 15px 84px;}

.fullwidth { width: 100% !important; }
.last { margin-right: 0px !important; }

.eshopcart_widget { text-shadow: 1px 1px 0px #fff !important;}
table.eshop thead th,table.cart thead th, table.eshop tbody th { background-color: #dbd9d5 !important; text-shadow: 1px 1px 0px #fff !important; }
table.eshop,table.eshop th,table.eshop td {	border:1px solid #c8c8c8 !important; }
table.cart tr.stotal {	background:#9a260e !important;	color:#fff !important; text-shadow: -1px -1px 0px #7e1e0a !important;}
form.eshop fieldset { background:#f7f7f7 !important; color:#7c7b7a !important;  border:1px solid #dadada !important; }
form.eshop legend {	background:#ae2509 !important;	color:#fff !important;	border-width:1px !important; border-style:solid !important; border-color:#921f07 !important;}
form.eshop input.button { background:#ae2509 !important; border-color:#921f07!important; }
.eshop  caption {display: none; }
.post table.eshop thead th, .post table.cart thead th, .post table.eshop tbody th { background-color: #f3f3f3 !important;}
table.cart tr.stotal #subtotalw, .post form.eshop table.cart tr.stotal #subtotalw { color: #404040!important; }
.post .eshop {margin: 40px 0px 0px 0px !important; }

body.woocommerce #items .onsale { position: absolute; right: -19px; top: 14px; left: auto; }
body.woocommerce.single-product #left-column .product { float: none; background: none; }
body.woocommerce.single-product #left-column .summary .price { font-size: 36px; margin: 21px 0 10px; }
body.woocommerce .item-slide .onsale { top: -14px; left: -18px; }
body.woocommerce .page-title { margin-bottom: 7px; }
body.woocommerce .term-description { margin-bottom: 3px; }
body.woocommerce .variations .label label { top: 10px; position: relative; }
body.woocommerce .variations_button .single_add_to_cart_button, body.woocommerce .variations_button .single_add_to_cart_button:active { top: 8px; }
body.woocommerce .post .woocommerce_message, body.woocommerce .post .woocommerce_error, body.woocommerce .post .woocommerce_info { margin-bottom: 44px; }
body.woocommerce #et_archive_pagination { padding: 23px 23px 0; }
	body.woocommerce #et_archive_pagination .navigation { overflow: hidden; }
		body.woocommerce #et_archive_pagination .nav-previous { float: left; }
		body.woocommerce #et_archive_pagination .nav-next { float: right; }
	body.woocommerce .woocommerce_ordering { margin-top: 12px; text-align: right; }
.et_page_meta_info { padding: 20px 28px 15px; border-bottom: 1px solid #e7e7e6; }
	.et_page_meta_info .woocommerce-result-count, .et_page_meta_info form { padding: 0 !important; margin: 0 !important; }
	.et_page_meta_info .woocommerce-result-count { padding-top: 5px !important; }
	.et_page_meta_info select { margin: 0 !important; }
.cart_totals h2, .shipping_calculator h2 { text-align: left; }
.cart_totals table { width: 100%; }

.images { float: none !important; width: 100% !important; }
	.images img { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

body.woocommerce #product-slides { height: 228px !important; }

/*------------------------------------------------*/
.no_sidebar #main-content{width: 960px !important; background-image:url("images/main-bg-full.png") !important;}
.no_sidebar  #main-area{background-image:url("images/content-top-full.png") !important;}
.no_sidebar  #main-area-bottom{background-image:url("images/content-bottom-full.png")  !important;}
.no_sidebar #left-column {width:960px;}

.et_pt_gallery_entry { margin: 0 0 32px 72px !important; }
.et_embedded_videos { display: none !important; }

.js #featured #slides { background: url(images/ajax-loader.gif) no-repeat center; height: 501px; }
	.js #featured .slide { display: block; }
#right-arrow { margin-left: 9px !important; }

.addto-cart {display: none !important; }

/*#sidebar { display: none !important; }*/


